*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}

body{
  /* background: url(./assets/background.png); */
  padding: 50px 0;
  background: url(../src/assets/form-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}

.container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.600);
  display: flex;
  justify-content: center;
  align-items: center;
}
