*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}

body{
  background: url(../src/assets/form-bg.svg);
  object-fit: cover;
  background-size: cover;
}

.container{
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
