*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}

body{
  /* background: url(./assets/background.png); */
  background: url(../src/assets/form-bg.svg) rgba(0, 0, 0, 0.600);
  object-fit: cover;
  position: relative;
}

.container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
